[submodule "lab4/src/libs"]
	path = lab4/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab3/src/libs"]
	path = lab3/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab2/src/libs"]
	path = lab2/src/libs
	url = https://github.com/ulyagram77/C-libs.git
