[submodule "lab2/src/libs"]
	path = lab2/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab3/src/libs"]
	path = lab3/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab4/src/libs"]
	path = lab4/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab5/src/libs"]
	path = lab5/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab6/src/libs"]
	path = lab6/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab7/src/libs"]
	path = lab7/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab8/src/libs"]
	path = lab8/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab9/src/libs"]
	path = lab9/src/libs
	url = https://github.com/ulyagram77/C-libs.git
[submodule "lab10/src/libs"]
	path = lab10/src/libs
	url = https://github.com/ulyagram77/C-libs.git
